.mid-background{
    /* display: flex; */
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 15rem;
    background-color: #AFEBDD;
}
.mid-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
}
.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.mid h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    text-align: center;
    font-family: "Lato";
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mid p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lato";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0rem;
}
.deco-mid1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 0;
}
.deco-mid2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 0%;
    bottom: 0%;
}